.ContainerNav{
    display: flex;
    justify-content: space-between; /* Distribui os elementos ao longo do eixo principal com espaço entre eles */
    align-items: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.ContainerNav a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    justify-content: flex-start ;
    align-items: center;
    font-size: 25px;
    margin-top: 2px;
}

.ContainerNav p{
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: #fff;
    margin: 0;
}

.ContainerNav img{
    height: 40px;

}