.ContainerNav{
    display: flex;
    justify-content: space-between; /* Distribui os elementos ao longo do eixo principal com espaço entre eles */
    align-items: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 70px;
}

.ContainerNav a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    justify-content: flex-start ;
    text-align: center;
    font-size: 35px;
    margin-top: 2px;
    min-width: 35px;
    max-width: 35px;
}

.ContainerNav p{
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: #fff;
    margin: 0;
    min-width: 35px;
    max-width: 35px;
    font-size: 25px;

}

.ContainerNav img{
    height: 40px;
    display: flex;
    justify-content: center;
}